<h1>Sign In</h1>

<form action="/users/create-session" method="POST" >
   
    <input type="email" name="email" placeholder="Your Email" required>
  <br>
    <input type="password" name="password" placeholder="Your password" required>
     <br>
    

    <input type="submit" value="sign in">

    <br>
</form>